.header
  +position(fixed, 3rem 0 null 0)

  .header-logo
    margin: 0 0 0 10px
    width: 20%


    .header-logoImg
      width: 100%
      size: 50px 50px

  .header-lang
    +position(absolute, 10px 10px null null)
    list-style: none

    font:
      size: 10px
      weight: 200
